.navcontent {
    min-height: 90vh;

    .menus {
        .sub-menu {
            height: 95%;
            background-color: white;
            margin: 20px 0px;
            margin-left: 5px;
            padding: 10px;
            border-radius: 7px;
        }
    }

    .content {
        .main-content {
            height: 95%;
            background-color: white;
            margin: 20px 5px;
            padding: 10px;
            border-radius: 7px;

        }
    }
}

@media only screen and (max-width: 996px) {
    /* Styles for small devices (mobile phones) */
    .menus{
        display: none;
    }
  }