.tabitems-main {
  padding: 2%;
  position: relative;
  .tab-name {
    margin-right: 3%;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: #c7c7c7;
    padding-bottom: 0.5%;
  }

  .line {
    border-bottom: 1px solid black;
    width: 100%;
  }
  .active-tab {
    border-bottom: 2px solid #be2028;
    color: black;
  }

  hr {
    margin-top: 0.38%;
    color: #d3d3d3;
    border-top: 2px solid;
  }
}


.no-data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;

  span {
    padding: 20px;
    /* background: red; */
    border: 2px solid #c3c3c3;
    border-radius: 10px;
    font-weight: bold;
    font-size: 35px;
  }
}

@media only screen and (max-width: 596px) {
  .tab-div {
    display: flex;
    overflow-x: scroll;
    margin-top: 15px;

    .tab-name {
      font-size: 12px;
      text-align: center;
      margin-left: 3%;
    }
  }

  .tabitems-main {
    hr {
      margin: -0.03%;
    }
  }

  .no-data {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;

    span {
      padding: 20px;
      /* background: red; */
      border: 2px solid #c3c3c3;
      border-radius: 10px;
      font-weight: bold;
      font-size: 16px;
    }
  }
}
